.container {
  display: flex;
  max-width: 1200px;
}
.cardapio {
  margin-left: 40px;
}
h1 {
  line-height: 1.5rem;
  font-weight: 400;
}
img {
  max-width: 700px;
}
.cardapio-lista span {
  margin-left: 15px;
}
